<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button v-if="!showInput" @click="toggleInput" class="btn btn-primary">Ændre Grænseværdier</button>
        
        <input v-if="showInput" type="text" v-model="warningValue" placeholder="Enter new CO2 value" class="form-control mt-3" @blur="updateWarningValue"/>
    </div>

    <script src="index.js"></script>
</body>
</html>

