<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luftkontrol</title>
</head>
<body>
    <br>
    <div id="app" style="text-align:center;">
        <div>
            <!-- Login Stuff -->
            <div v-if="userId == null">
                <br><h1>Login</h1><br>
                <label for="email"><b>Email</b></label>
                <br>
                <input id="email" v-model="username" type="text" placeholder="email...">
                <br>
                <label for="password"><b>Password</b></label>
                <br>
                <input id="password" v-model="password" type="password" placeholder="Password...">
                <br>
                <div v-if="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
                <input @click="Login" id="loginButton" type="button" value="Login" class="btn btn-primary">
                <br>
                <a href="signUpForm.html">Forgot password?</a>
                <br>
                <Button id="goToSignup" type="button" value="Sign up" class="btn btn-primary" @click="doc.location.href = 'signUpForm.html'">Sign up</Button>
                
            </div>
            <!-- Show your info -->
            <div v-else>
                <!-- <p>You are logged in :)</p> -->
                 <div class="wrapper">
                    <input type="button" @click="logout" value="Log out" class="btn btn-primary" style="float: right;">
                    <div id="CO2ChartDiv" style="width: 50%; height: auto; float: right;">
                        <div v-if="chartError"><p>{{chartError}}</p></div>
                        <img alt="co2 data chart" id="CO2Chart" src="{{CO2ChartSource}}" style="width: 100%; height: 0px;">
                        {{SetChartImage()}}
                        <!-- Change how much data to view -->
                        <div>
                            <button type="button" class="btn btn-primary" @click="SetChartDataWithValue(3)" style="width: 20%; margin-left: 2.5%; margin-right: 5%;" value="All time">All time</button>
                            <button type="button" class="btn btn-primary" @click="SetChartDataWithValue(2)" style="width: 20%; margin-right: 5%;" value="1 month"                    >1 month</button>
                            <button type="button" class="btn btn-primary" @click="SetChartDataWithValue(1)" style="width: 20%; margin-right: 5%;" value="1 week"                     >1 week</button>
                            <button type="button" class="btn btn-primary" @click="SetChartDataWithValue(0)" style="width: 20%; margin-right: 2.5%;" value="1 day"                    >1 day</button>
                        </div>
                        <!-- Change warning value button -->
                        <br>
                        <button v-if="!showInput" @click="toggleInput" class="btn btn-primary" style="width: 100%;">Change value</button>
                        <div v-if="showInput" style="width: 100%;">
                            <input style="width: 80%;" type="text" v-model="warningValue" placeholder="Enter new CO2 value" @blur="updateWarningValue">
                            <button style="width: 20%;" @click="updateWarningValue" class="btn btn-primary">Change value</button>

                        </div>
                    </div>
                    <div id="nextToChart" style="width: 50%; text-align: left;">
                        <h1>Newest data</h1>
                        <div v-if="newestData">
                            <p>last measurement was taken at: {{newestData.measurementTime}}, with a value of: {{newestData.measurementValue}}</p>
                        </div>
                        <h1>Sensors</h1>
                        <p>Select Sensor:</p>
                        <select v-model="activeSensor" @change="SetChartData()">
                            <option v-for="sensor in sensorList">
                                {{sensor}}
                            </option>
                        </select>
                        <br>
                        <p>Subscribe to new sensor:</p>
                        <input style="height: 36px;" type="number" v-model="subscribeToSensor">
                        <button @click="addSensorToList(subscribeToSensor)" class="btn btn-primary">Subscribe</button>

                        <!-- User information -->
                        <h1>User information</h1>
                        <p>Email:</p>
                        <p>{{username}}</p>
                        <div v-if="showNewPasswordBox">
                            <button @click="toggleShowNewPasswordBox" class="btn btn-primary">Actually, nevermind</button>
                            <br>
                            <p>Old password</p>
                            <input type="password" v-model="oldPassword">
                            <br>
                            <p>New password</p>
                            <input type="password" v-model="newPassword">
                            <br>
                            <p>Confirm new password</p>
                            <input type="password" v-model="confirmPassword">
                            <br>
                            <div v-if="changePasswordErrorMessage"><p>{{changePasswordErrorMessage}}</p></div>
                            <button @click="changePassword" class="btn btn-primary">Change</button>
                        </div>
                        <div v-else>
                            <button @click="toggleShowNewPasswordBox" class="btn btn-primary">Change password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>